.accompagnement {
    width: 100%;

    &-text {
        margin: 1rem;
    }

    &-title {
        background-color: var(--mainBlue);
        padding: 1rem 0;
        margin: 0;
        color: var(--thirdWhite);
    }

    &-imgContainer {
        width: 100%;
        border-radius: 10px;
        height: 15%;
        object-fit: cover;
    }

    &-img {
        width: 25%;
        height: 100%;
        border-radius: 10px;
    }

    &-text_price {
        background-color: var(--mainBlue);
        padding: 1rem 0;
        color: var(--thirdWhite);
    }
}

ul {
    width: 100%;
    padding: 0;


    li {
        width: 100%;
        line-height: 2rem;
    }
}

@media screen and (min-width:1024px) {
    .accompagnement {
        &-img {
            width: 25%;
        }
    }
}