.endo {
    margin-bottom: 1rem;

    &-text {
        text-align: initial;
        margin: 0 .5rem;
    }

    &-title {
        background-color: var(--mainBlue);
        padding: 1rem 0;
        margin: 0;
        color: var(--thirdWhite);
    }

    &-subtitle {
        color: var(--mainBlue);
    }

    &-bande {
        width: 100%;
        height: auto;
    }

    &-problem,
    &-despress,
    &-infertility {
        margin-bottom: 3rem;

        &-pic {
            width: 100%;
            height: auto;
        }

        &-description {

            h4 {
                font-size: 1.5rem;
                color: var(--mainBlue);
            }

            ul {
                margin: 0;
                padding: 0 1rem;
                display: flex;
                flex-direction: column;

            }
        }

        &-item {
            width: 100%;
            justify-content: flex-start;
            display: list-item;
            // text-align: initial;
        }

    }

    &-end a {
        font-size: 1.5rem;
    }
}

@media screen and (min-width:480px) {
    .endo {

        &-problem,
        &-despress,
        &-infertility {
            &-pic {
                width: 50%;
                border-radius: 10px;

            }
        }

        // img {
        // }
    }
}

@media screen and (min-width:764px) {
    .endo {

        &-problem,
        &-despress,
        &-infertility {
            display: flex;
            width: 100%;

            &-pic {
                width: 25%;
            }

            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                margin-left: 1rem;

                p {
                    text-align: left;
                }
            }
        }
    }
}

@media screen and (min-width:920px) {
    .endo {
        &-bande {
            height: 200px;
            object-fit: cover;
        }

        &-text {
            margin: 0 1rem;
        }



        &-problem,
        &-despress,
        &-infertility {
            display: flex;
            // width: 70%;
            font-size: 1.2rem;
            margin-left: 2rem;

            &-pic {
                width: 20%;
                height: 10%;
            }

            div {
                display: flex;
                width: 30%;
                justify-content: space-evenly;

                h4 {
                    font-size: 2rem;
                }
            }
        }
    }
}